@use '../variables';

.button {
    font-size: 18px;
    padding: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$green;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
    
    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}