@use '../variables';

.infos-bar {
    padding: 16px 24px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    border: 2px solid #fff;
    box-shadow: 2px 2px 5px black;
    
    &__infos {
        display: flex;
        align-items: center;
        &__item {
            font-size: 22px;
        }
    }

    @media (max-width: 1023px) {
        &__infos {
            gap: 16px;
        }
    }

    @media (max-width: 640px) {
        display: block;
        
        &__infos {
            flex-direction: column;
            gap: 24px;
            margin-bottom: 24px;
        }
    }
}